<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href ="../static/style.css">
</head>

<h1>Статистика</h1>

Количество людей, уже прошедших опрос: {{ r }}
<br>
<br>
<table border = "1" align = "center">
<caption> Дополнительные названия для каждого предмета, приведенные респондентами </caption>
<tr>
	<th> <img src="../static/1.jpg" width="210" height="230"><br> Картинка №1 </th>
	<th> <img src="../static/2.jpg" width="210" height="230"><br> Картинка №2 </th>
	<th> <img src="../static/3.jpg" width="210" height="270"><br> Картинка №3 </th>
	<th> <img src="../static/4.jpg" width="210" height="230"><br> Картинка №4 </th>
	<th> <img src="../static/5.jpg" width="210" height="250"><br> Картинка №5 </th>
</tr>
<tr>
	<td> {{ q1 }} </td>
	<td> {{ q2 }} </td>
	<td> {{ q3 }} </td>
	<td> {{ q3 }} </td>
	<td> {{ q4 }} </td>
</tr>
</table>
</html>